<!doctype html>
<title>Lord Card arguments setting</title>
  <table border="1">
    <tr>
      <th>Argument name</th>
      <th>Argument value</th>
      <th>Change</th>
    </tr>
    {% for argumentName in arguments %}
    <tr>
        <td> {{ argumentName }}  </td>
        <td> {{ settings.get(argumentName, 0) }}</td>
        <td>
            <form>
                <input type="text" name="{{argumentName}}" value={{settings.get(argumentName)}}>
                <input type="submit" value="change">
            </form>
        </td>
    </tr>
    {% endfor %}
  </table>
  <form>
    <input type="hidden" name="reset" value="true">
    <input type="submit" value="reset server">
  </form>
